<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <httpErrors errorMode="Custom">
            <remove statusCode="404" subStatusCode="0" />
            <error statusCode="404" path="/errors/404.html" responseMode="ExecuteURL" />
        </httpErrors>
        <rewrite>
      <rules>
        <!-- Rewrite rule to serve .html files without extension -->
        <rule name="Remove .html Extension">
          <match url="^(.*)$" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            <add input="{REQUEST_FILENAME}.html" matchType="IsFile" />
          </conditions>
          <action type="Rewrite" url="{R:1}.html" />
        </rule>

        <!-- Redirect rule to remove .html from URLs -->
        <rule name="Redirect .html URLs" stopProcessing="true">
          <match url="^(.*).html$" />
          <conditions>
            <add input="{URL}" pattern="(.*).html" />
          </conditions>
          <action type="Redirect" url="{R:1}" />
        </rule>
      </rules>
    </rewrite>
        <httpRedirect enabled="false" />
        <defaultDocument>
            <files>
                <clear />
                <add value="home.html" />
                <add value="iisstart.htm" />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="index.htm" />
                <add value="index.html" />
                <add value="default.aspx" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>
